.result-box.result-box-default {
    background: var(--white);
    color: #00348A;
}

.result-correct-answear {
    color: var(--white);
    background-color: var(--green);
}

.status-correct {
    color: var(--white);
}

.incorret-answear {
    color: var(--red);
}